<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Listado de familiares </h1>
    <p>Familiar 1</p>
    <ul>
        <li>{{familiar1.nombre}}</li>
        <li>{{familiar1.edad}}</li>
        <li>{{familiar1.fecha_creacion}}</li>
    </ul>    
    <p>Familiar 2</p>
    <ul>
        <li>{{familiar2.nombre}}</li>
        <li>{{familiar2.edad}}</li>
        <li>{{familiar2.fecha_creacion}}</li>
    </ul>    
    <p>Familiar 3</p>
    <ul>
        <li>{{familiar3.nombre}}</li>
        <li>{{familiar3.edad}}</li>
        <li>{{familiar3.fecha_creacion}}</li>
    </ul>    
</body>
</html>